label{
    color: wheat;
    margin-left: 10px;
    margin-top: 50px;
    margin-bottom: 35px;
}

button{
    margin-left: 30px;
    margin-top: 40px;
    margin-bottom: 25px;
}

h2{
    text-align: right;
    color: green;
}

.titulo, h3{
    text-align: center;
    color: wheat;
}

th{
    color: wheat;
    font-size: 1.5em;
}

#btnSalvarProduto{
    margin: 30px;
}

#tabelaProdutos{
    margin-left: 300px;
}

#ocultarTabela{
    margin: 50px;
}

#btnSolicitacao{
    margin: 30px;
}

#tabelaSolicitacoes{

    margin: 40px;
    margin-left: 300px;
}